
header {
    display: flex;
    justify-content: center;
    background-color: #958456;
    padding: 30px;
}

header h1 {
    color: white !important;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    width: 50%;
}

#color-selections {
justify-content: center;
}

#color-select__content {
   display: flex;
   justify-content: space-around;
}

#color-selections div{
    width: 200px;
    height: 100px;
    margin: .5rem;
    background-color: beige;
}
#theme-gen{
    width: 100vw;
    text-align: center;
}
#them-gen__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}   

#theme-box div{
    color: white;
    width: 150px;
    height: 150px;
    text-shadow: 1px 1px black;
    margin: 1px;
    border: 1px solid black;
}

#input-color {
    width: 100%;
    height: 100%;
}

#input-color-two {
    width: 100%;
    height: 100%;
}